[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
	url = https://github.com/emacs-evil/evil
[submodule ".emacs.d/undo-tree"]
	path = .emacs.d/undo-tree
	url = https://github.com/martinp26/undo-tree
[submodule ".emacs.d/plugins/evil-org-mode"]
	path = .emacs.d/plugins/evil-org-mode
	url = git://github.com/somelauw/evil-org-mode.git
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/joaotavora/yasnippet
